.dark-toggle {
  display: flex;
}
.dark-toggle > input {
  visibility: hidden;
}
#toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-bottom: 0;
  user-select: none;
  border-radius: 50px;
  background-color: var(--black);
}

body.dark {
  background-color: #2d2e30;
}
body.dark #toggle {
  background-color: var(--white);
}

body.dark h1,
body.dark h2,
body.dark h5,
body.dark p,
body.dark span,
body.dark input,
body.dark small,
body.dark li,
body.dark food-list > .placeholder {
  color: var(--white);
}

body.dark input {
  border: 0.5px solid rgba(84, 84, 88, 0.65);
}

body.dark header,
body.dark .tab,
body.dark input,
body.dark food-ter {
  background-color: var(--black);
}

body.dark .search_area,
body.dark .tab > h5,
body.dark .food-area,
body.dark .modal-content {
  background-color: #38393a;
}

body.dark .modal-content > button {
  background-color: #38393a;
  border-top: 0.5px solid rgba(252, 252, 252, 0.29);
}
body.dark .modal-content > button:hover {
  background-color: #3e3f3f;
}
