food-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
food-item {
  width: 100%;
  overflow: hidden;
  margin-top: 16px;
  border-radius: 20px;
  background-color: var(--white);
}
food-item .food-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.food-info {
  padding: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.food-info > .foodtent > p {
  display: flex;
  font-size: 12px;
  margin-bottom: 4px;
  align-items: center;
}
.food-info > .foodtent > p > img {
  width: 12px;
  margin-right: 4px;
}
.food-info > .foodtent > h2 {
  font-size: 17px;
  margin-top: -2px;
  margin-bottom: -4px;
  font-weight: 600;
}
.food-info > .foodtent > small {
  font-size: 11px;
}
.food-info > .foodton > button {
  border: none;
  outline: none;
  font-size: 13px;
  color: var(--white);
  padding: 8px 12px;
  border-radius: 24px;
  background-color: var(--blue);
}
.food-info > .foodton > button:hover {
  background-color: #007aff;
}

@media (min-width: 650px) {
  food-item {
    width: 230px;
    margin: 0 0 16px 16px;
  }
}
